<div class="main"> 
    <div class="tittle">
        <h1>Known technologies</h1>
    </div> 
    <div class="content"> 
    <div class="backend">
        <h1>Back-end</h1> 
        <ul> 
            <li *ngFor="let data of backendData"><img src="{{data.img}}" alt=""> {{data.name}} ({{data.level}})</li>
        </ul>
    </div> 
    <div class="frontend">
        <h1>Front-end</h1> 
        <ul> 
            <li *ngFor="let data of FrontendData"><img src="{{data.img}}" alt=""> {{data.name}} ({{data.level}})</li>
        </ul>
    </div> 
    <div class="utilitaries">
        <h1>Utilitaries</h1> 
        <ul> 
            <li *ngFor="let data of UtilitariesData"> 
                <img src="{{data.img}}" alt=""> {{data.name}} ({{data.level}})
            </li>
        </ul>
    </div>
    </div>
</div>
