@import url("https://fonts.cdnfonts.com/css/tt-commons?styles=87752,87745");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Commons", sans-serif;
  color: #ffffff;
}
.content {
  background-color: #4b4b4b;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tittle {
  display: flex;
  margin: 5rem;
  
} 
.tittle-animation { 
  -webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.paragraph {
  margin: 5rem;
  display: flex; 
  
}

.paragraph h1 {
  // font-size: 6rem;
  font-size: clamp(3rem, 6vw, 6rem);
  font-weight: 600;
} 
.paragraph-animation{ 
  -webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
//animations:
//tittle animtaion:
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
