<div class="container" [ngClass]="{'container-animation' : isVisible == true}">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      </ul>
     <div class="contact"> 
        <div class="number-email"> 
            <ul> 
                <a href="https://wa.me/5547991963768" target="_blank"> 
                    <li>
                        <i class="bi bi-whatsapp"></i>  
                        <p>+55 (47) 99196-3768</p>
                    </li>
                </a> 
                <a href="mailto:evertonmlgoncalves@gmail.com" target="_blank"> 
                    <li>
                        <i class="bi bi-envelope"></i> 
                        <p>evertonmlgoncalves@gmail.com</p>
                    </li>
                </a> 
            </ul>
        </div> 
        <div class="linkedin-github"> 
            <a href="https://www.linkedin.com/in/everton-mikey-litka-gonçalves" target="_blank"> 
                <i class="bi bi-linkedin"></i> 
            </a> 
            <a href="https://github.com/EvertonMLGoncalves" target="_blank"> 
                <i class="bi bi-github"></i>
            </a>
        </div>
     </div>
    </footer>
  </div>